<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
  <header>
    <h1>Coderhouse – Entrega 2</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/realtimeproducts">Realtime Products</a>
    </nav>
    <hr/>
  </header>

  {{{body}}}

  <footer><hr/>Hecho con ♥ Socket.IO + Handlebars</footer>
</body>
</html>
